/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol, 
ul, 
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer; 
  color: inherit;
}

textarea {
  resize: none;
}

/* CSS Reset End */


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root {
  --white: #f8f7f3;
  --blue: #1a24fb;
}


body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  background-color: var(--blue);
  color: var(--white);
}

header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

header .material-icons {
  font-size: 24px;
}

main {
  max-width: 1280px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  width: 380px;
  margin: 50px 10px;
  
  background-color: var(--white);
  color: var(--blue);
}

article {
  width: 370px;
  height: 400px;
  padding: 40px;
  border: 1px solid var(--blue);
}

.index {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.sub {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
}

h2.title {
  min-height: 90px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

button {
  width: 100%;
  height: 18px;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

button .material-icons {
  font-size: 18px;
}